*,:before,:after
    box-sizing: border-box

*
    outline: none
    
html
    font-size: 14px
    scroll-behavior: smooth
    padding: 0
body
    background-color: $background
    font-size: 1rem
    color: $light
    font-family: 'Roboto', sans-serif
img
    max-width: 100% 
.main
    padding-top: 3.57rem
    background: $h-gradient
    padding-bottom: 10.5rem
