.header
    display: flex
    justify-content: space-between
    align-items: center
    min-height: 1.94rem
    margin-bottom: 7.48rem
    &__social-link
        margin-right: 1.48rem
        &:last-child
            margin-right: 0
        & img
            width: 2rem
            height: 2rem
    &__title
        color: $orange
        font-size: 1.5rem
        font-weight: bold
    &__logo
        max-width: 3.5rem
        max-height: 3.5rem
        margin-right: 1.5rem
    &__link
        transition: 0.3s
        display: flex
        align-items: center
        text-decoration: none
        &:hover
            transform: scale(1.1)
.hero
    display: flex
    justify-content: space-between
    &__description
        max-width: 30rem
        margin-bottom: 2.71rem
        display: block
    &__subtitle
        display: inline-block
        color: $orange
        font-size: 1.71rem
        line-height: 2rem
        margin-bottom: 1rem
    &__title
        line-height: 4.21rem
        font-size: 3.57rem
        font-weight: bold
        margin-bottom: 1.42rem
        margin-top: 0
    &__description
        font-size: 1.14rem
        line-height: 2rem
        margin-bottom: 2.71rem
    &__button
        padding: 2rem 3rem
        text-transform: uppercase
        color: $button-c
        font-size: 0.85rem
        font-weight: bold
        line-height: 1rem
        display: inline-block
        text-decoration: none
    &__avatar--img
        transform: scale(1.5)
    &__avatar
        overflow: hidden
        width: 27.78rem
        height: 27.78rem
        border-radius: 50%
        border: 0.9rem solid $light
        justify-content: center
        display: flex
        align-items: center
        
    