.portfolio
    padding-top: 9rem
    padding-bottom: 7.71rem
    background: $port-gradient
    &__items-wrapper
        display: flex
        margin-bottom: 3.14rem
    &__description
        display: flex
        // flex-direction: column
        flex-wrap: wrap
        flex-basis: 60%
    &__slider-title
        margin: 0
        margin-bottom: 3rem
        font-size: 1.71rem
        line-height: 2rem
        flex-basis: 100%
    &__icon 
        margin-right: 1.14rem
    &__item
        display: flex
        align-items: flex-start
          
        &:first-child
            margin-right: 4.57rem
    &__subtitle
        margin: 0
        margin-bottom: 0.57rem
        font-size: 1.28rem
        font-weight: bold
        line-height: 1.5rem
    &__title
        margin: 0
        margin-bottom: 5.42rem
        font-size: 2.57rem
        font-weight: bold
    &__slide
        // min-height: 20rem
        // border: 1px solid red
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__img-box
        // border: 2px solid green
        max-width: 24.14rem
        height: 19.14rem
        margin-right: 6.4rem
        & img
            // height: 100%
            border-radius: 6px  
    &__text
        line-height: 2rem
        font-size: 1.14rem
        max-width: 34.35rem
        margin: 0
    &__time
        flex-basis: 50%
        margin-bottom: 3.14rem
    &__cost
        flex-basis: 50%
    &__pagination
        display: flex
        justify-content: center
        align-items: center
    &__bullet
        width: 0.71rem
        height: 0.71rem
        border: 2px solid $orange 
        border-radius: 50%
        display: inline-block
        margin-right: 0.71rem   
        &:hover
            cursor: pointer
        &:last-child
            margin-right: 0
        &--active
            background: $orange



.swiper-wrapper
    margin-bottom: 3.14rem
    